<div id="primary-content">
	<div class="container-pages">
		<div class="container-images">
			<div id="bounce-content">
				<img src="https://pbs.twimg.com/profile_images/1431452276/newlogo_400x400.jpg" class="img-responsive" alt="Responsive image">
			</div>
		</div>
		<h1>My Secondary | Education</h1>
		<div id="up-content">
			<hr class="featurette-divider">

			<p class="lead edu"><b>It is my pleasure to introduce you to Westland High School.</b></p>

			<div class="row">
  			<div class="col-xs-8"><p class="beta-p">Westland High School Hokitika is a Years 7 to 13 co-educational, multi-course secondary school serving the area from Chesterfield in the north to Waitaha in the south.</p> 
				<p class="beta-p">Students enjoy the advantage of smaller classes and a friendly family like atmosphere where they are treated as individuals and their talents are recognised and built on.</p>
				<p class="beta-p">My favorite subjects were English, Technology, Social Sciences & The Arts</p></div>
			
  			<div class="col-xs-4"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11725.315385471933!2d170.973305!3d-42.					71793!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x837a0c7a0b2740aa!2sWestland+High+School!5e0!3m2!1sen!2snz!4v1425452335914" width="		100%"height="200" frameborder="2" style="border:0"></iframe></div>
			</div>
			<hr class="featurette-divider">
		</div>
		<div class="row">
			<div class="col-xs-8"><p class="soc">Westland Social Links</p>
				<p>
					<a href="https://www.facebook.com/WestlandHigh" target="_blank">
   				<%= image_tag("facebook.png", alt: "facebook") %></a>
   				<a href="https://twitter.com/westlandhigh" target="_blank">
   				<%= image_tag("twitter.png", alt: "twitter") %></a>			
   			</p>
   		</div>
			<div class="col-xs-4 adi">
				<p class="beta-p sch"><b>Westland High School</b></p>
					<p>
						<ul>
						<li>140 Hampden St</li>
						<li>Hokitika 7810</li>
						<li>New Zealand</li>
						<li>03-755 6169</li>
						</ul>
					</p>
			</div>
		</div>
	</div>
</div>
