<div id="primary-content">
	<div class="container-pages">
		
		<div id="zoom-content">
			<h1>My Employment | 2012 - 2015</h1>
		</div>
		
		
		<div id="bounceleft-content">
			<hr class="featurette-divider">
			<div class="row">
  			<div class="col-md-4 soc1 hob1">
  				<div class="container-images">
  					<img src="http://staticblog.virtualvocations.com/2013/01/ID-10059857.jpg" class="img-responsive" alt="Ashleigh Wilson">
  				</div>
  				<p class="beta-p"><a><%= link_to "Wanted, Hire me!", contact_path %></a></p>
  			</div>
  			<div class="col-md-8 top"><p class="beta-p left">The past 3 years i have been full-time care giver for Miss Sylvia Rowe. Over this period Sylvia & i lived together in the garden City of Christchurch New Zealand. Sylvia's a lovely lady with a kind heart, family minded & she was also a career woman of 35 years with a general retail goods department store. She always had an old tale to tell about work mates or the days-gone-by she spent on her mums dariy farm.</p> 
				<p class="beta-p left">Miss Rowe sure had her fair share of lifes troubles, in her latter years she suffered from many serious medical issues including arthritis, crippling her mobitity & dementia which causes brain disease. But despite all, & with a little help, Sylvia Rowe kept her cheery positive outlook on life.</p>
				<p class="beta-p left">Unfortunately Miss Rowe's life was taken early 2015 due to kidney failer. She will allways hold a special place in my heart, she is dearly missed by me & her family.<i> Sylvia Rowe 1940 - 2015.</i></p></div>
			</div>
		</div>
		<div id="bounce-right">
			<div class="row">
				<div class="col-md-8 top"><p class="soc1 col">Job discription was ..</p>
					<p class="beta-p left">
						My responsibilities included general home up-keep like dusting, hoovering, washing clothes, making her bed, cooking most meals, and feeding the cat. Sylvia's personal hygiene was also taken care of by me which intailed help showering & dressing. Spending time with her just having a good old chat over a cup of tea.
   				</p>
   				<p class="beta-p left">
						It was also my job to arrange any appointments Miss Rowe may need like the hairdresser, doctor or dentist and provide transportation. Medication was also administered by me, arranging pick up of prescription and administer blister-pac's at scheduled times.
   				</p>
   				<p class="beta-p left">
						Miss Rowe was under Enduring Power of Attorney while in my care, all of her main financial affairs were managed by the Public Trust Goverment Offices NZ. However Sylvia did have a petty-cash account. On her behalf it was my job to manage her usage / exspenditure<i> 'every day items'</i>  she may require.  
   				</p>	
   			</div>
				<div class="col-md-4 top1 pad">
					<p class="beta-p"><i>Miss Sylvia Rowe</i></p>
					<div class="container-images">
						<img src="http://s3.amazonaws.com/pins-app-140115/pins/images/000/000/027/medium/Picture0080.jpg?1426505198" class="img-responsive1" alt="Sylvia Rowe">
					</div>
				</div>
			</div>
			<hr class="featurette-divider">
			<p class="beta-p">For all questions regarding my <a><%= link_to "Employment", contact_path %></a> history shoot me a message.</p>					
		</div>
	</div>
</div>
