<div class="container-pages-home">
	<h1>This is Ashleigh Wilsons CV</h1>
	<p>Find me in app/views/pages/home.html.erb</p>

	<hr class="featurette-divider">
	<%= image_tag("ash.jpg", :size => "360x480" ) %> 
	<hr class="featurette-divider">

	<p>
		<a href="https://www.facebook.com/Ash19910/" target="_blank">
   		<%= image_tag("facebook.png", alt: "facebook") %>  
		</a>
		<a href="https://twitter.com/onemonthrails" target="_blank">
   		<%= image_tag("twitter.png", alt: "twitter") %> 
		</a>			
	</p>
</div>

