<div class="container-pages-home">
	<h1 class="title-name">Ashleigh Wilson</h1>

	<p class="lead">Personal Statement</p>
		
	<p>Highly motivated meticulous individual with a tenacious drive to learn new skill sets.</p>

	<hr class="featurette-divider">
	<%= image_tag("ash2.jpg", :size => "420x340" ) %> 
	<hr class="featurette-divider">

	<p>Currently i'm looking to begin a new career after dedicating the last 3 1/2 years of my life to home caregiving. I have excellent public relation characteristics and enjoy working within in a professional team enviroment. Please<i> hire me</i>, i'm really keen to learn something new and i think i would be a great asset for your business. Check out the rest of my awesome CV by clicking <b><i> "Read more about me"</i></b>, i will consider all job offers.</p>

	<p>
		<a href="https://www.facebook.com/Ash19910/" target="_blank">
   		<%= image_tag("facebook.png", alt: "facebook") %>  
		</a>
		<a href="https://twitter.com/WEBrip" target="_blank">
   		<%= image_tag("twitter.png", alt: "twitter") %> 
		</a>			
	</p>
</div>

