<div class="container-pages-home">
	<h1>This is Ashleigh Wilsons CV</h1>
	<p>Find me in app/views/pages/home.html.erb</p>

	<hr class="featurette-divider">
	<%= image_tag("gun.jpg", :size => "360x480" ) %> 
	<hr class="featurette-divider">
</div>

