<div id="primary-content">
	<div class="container-pages-home">
		
		<h1 class="title-name"> Hey, I'm Ashleigh Wilson</h1>
		
		<p class="lead">Personal Statement</p>
		
		<p class="beta-p">Inspiring young meticulous girl with a tenacious drive to learn new skill sets.</p>

		<hr class="featurette-divider">
			<div class="container-image-home">
				<div id="bounce-content">
					<%= image_tag("ash1.jpg", :size => "420x340" ) %>
				</div>
			</div>
		<hr class="featurette-divider">

		<p class="beta-p">Currently i'm looking to begin a new career after dedicating the last 3 1/2 years of my life to home caregiving. I have excellent public relation characteristics and enjoy working within in a professional team enviroment. Please<i> hire me</i>, i'm really keen to learn something new and i would be a great asset for your business. Check out the rest of my awesome CV by clicking <b><i> "Read more about me"</i></b> above.</p>

		<p>
			<a href="https://www.facebook.com/Ash19910/" target="_blank">
   			<%= image_tag("facebook.png", alt: "facebook") %>  
			</a>
			<a href="https://twitter.com/ashleighamywils" target="_blank">
   			<%= image_tag("twitter.png", alt: "twitter") %> 
			</a>			
		</p>
	</div>
</div>
