<div id="primary-content">
	<div class="container-pages">
		
		<div id="flip-element">
			<h1>My | interests & hobbies</h1>
			<p>Hey all here's what i like to do when i'm not at work ..</p>
		</div>
		
		
		<div id="bounce-content">
			<div class="slow-content">
				<hr class="featurette-divider">

				<div class="row skills">
  				<div class="col-xs-4 top">
  					<div class="container-images">
  						<img src="https://cheap.buyessay.org/blog/wp-content/uploads/2014/07/Shopping-Girls-Vector-Illustration.jpg" class="img-responsive" alt="Responsive image">
  					</div>
  				</div>
			
  				<div class="col-xs-8 hob1">
  					<p class="beta-p left">I love shopping ! What girl doesn't like an out-going to the shopping mall with mates, i certainly do and it's at least a once a week thing for me.</p> 
						<p class="beta-p left">Spending time with family is important to me. I guess i'm a bit of a mummy's girl and i love my dad too. It's always fun just swapping stories & seeing what everybody has been up-to.</p>
						<p class="beta-p left">I can also be a bit of an online social media hog, facebook get's quite a bit of my time as there is always some fresh gossip to spread around.</p>
					</div>
				</div>
		
				<div class="row skills">
  				<div class="col-xs-8 hob2">
  					<p class="beta-p left">I enjoy learning new skills through educational tutorial's mainly online. Everything from 'cosmetic's videos' to creating that tasty recipe for the family to tech-tutorial's.</p> 
						<p class="beta-p left">There is always something new & interesting to learn online.</p>
  				</div>
			
  				<div class="col-xs-4 top">
  					<div class="container-images">
  						<img src="http://cvsteps.com/wp-content/uploads/e-learning.jpg" class="img-responsive" alt="Responsive image">
  					</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-4 top">
  					<div class="container-images">
  						<img src="http://cdn.geekmonkey.org/series/avatars/000/000/007/original/ruby-on-rails.png?1345813329" class="img-responsive" alt="Responsive image">
  					</div>
					</div>
  				<div class="col-xs-8 hob1">
  					<p class="beta-p left">I particularly love tagging along with a best mate of mine that's currently studying web-based application development ( building websites ).</p> 
						<p class="beta-p left">He is learning Ruby on Rails4 which is a bit over my head, but by just spending time with him i've picked up quite a few skills in basic html & some css which i'm getting pretty good at.</p>
						<p class="beta-p left">I helped out with some of the css in this site !</p>
  				</div>
				</div>
		
				<div class="row">
					<div class="col-xs-8 hob3">
						<p class="beta-p left">I like to travel given half a chance.</p>
   					<p class="beta-p left">My family & i have traveled extensively through Australia between 2006 - 2008. It was awesome ! i most definitely would like to rome-around some more sometime in the future.</p>
   					<p class="beta-p left">I have included a video of my family & me on our adventure below. Hope you like ..</p>
   					</div>
					<div class="col-xs-4 bottom">
						<div class="container-images">
							<img src="http://www.wired.com/images_blogs/autopia/images/2008/08/19/qantas_2.jpg" class="img-responsive" alt="Responsive image">
						</div>
					</div>
				</div>
				<hr class="featurette-divider">
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/v4ko8CCSVok" frameborder="0" allowfullscreen></iframe>
				<hr class="featurette-divider">
				<p class="beta-p">For all questions regarding my interests & hobbies shoot me a message.</p>
			</div>
		</div>
	</div>
</div>
