<div class="mpd">
  <div class="jumbotron">
    <div id="primary-content">
      <h1><strong>Congratulations</strong></h1>
    </div>
    <div id="zoom-content">
      <h2> you have just found your next <strong>top employee </strong>!</h2>
    </div>
    <p><a class="btn btn-lg btn-default fa fa-2x fa-sort-desc" href="#faster" role="button"></a></p>
  </div>

  <a name="faster"></a>

  <div class="container containerStandard">      
    <div class="row beta-p">
      <%= image_tag("personal.png", alt: " Ashleigh Wilson personal details") %>
      <h2>I'm <strong>Ashleigh Wilson Mpd's</strong> next top rep to be.</h2>
      <p class="beta-p">You want to <strong>hire me</strong> because i am . . .</p>
    </div>                
  </div>
  <hr>
        
  <div class="container containerStandard">
    <div class="row">      
      <div class="col-md-4 columnItem">
        <img class="img-circle" src="http://www.partidiricambi.com/wp-content/uploads/2015/03/truth-and-lies-300x300.jpg">
        <h2>Honest</h2>
        <p class="beta-p">Within all my relationships business and personal <strong>honesty</strong> is important to me. As you probably already know, that simple act of being honest builds strong relationships and compiled with time creates a good track record. I think it's important to tell as much truth as you can, it's petty much just common sence i guess.</p>
      </div>

      <div class="col-md-4 columnItem">
        <img class="img-circle" src="http://identitymagazine.net/wp-content/uploads/2011/02/passion_for_life.jpg">
        <h2>Passion</h2>
        <p class="beta-p">I've always wanted to work with people just like <strong>You !</strong> I'm very interested in improveing my sales skills and keen to get my training under-way. A real satisfaction comes from selling a great product or promoting a good service, it's just rewarding when at the end of it all, you have a happy client or customer.</p>
      </div>

      <div class="col-md-4 columnItem">
        <img class="img-circle" src="http://chrissy50.files.wordpress.com/2012/08/yesorno-300x300.jpg?w=625">
        <h2>Adaptable</h2>
        <p class="beta-p">If anyone has the ability to change oneself to fit to occuring change it's me ! To be honest with you i love a bit of change and hey where would we all be with out it. A world without change ? it's food for thought.. I guess in someway we all are  <strong>adaptible.</strong> What more is there to say, hire me! and teach me! lets change.</p>
      </div>
    </div>
  </div>
        
  <div class="container screenshot">   
    <div class="arrow-down"></div>
    <div class="col-md-5">
      <div class="screenBlurb">
        <hr>

        <h1>Simple Fast & Intuitive</h1>                    
        <p class="beta-p">Sort of a funny story. My partner and i have what we like to call our <strong>"forward plan"</strong> the plan is simple, we regularly set a new goal each and give it a deadline. ( Mine is currently <i>'to find employment within the sales market'</i> ) Once our goals are decided we put them on paper and then we go get shit done ! It's not a race or a compitition with us, but it's a partnership or team effort that goes on between us, in that we support and help each other acheive and keep each other on track. </p>
        <p class="beta-p">Ok maybe thats not a funny story, it's most definitly a pretty cool story. The reason i shared this with you is because it holds relavance to my success if say for example i was employed by you. I'm giving you a peek into my family life so you can get better picture of what sort of people we are. Now with all that said i can continue on and you'll understand where i'm coming from.</p>                            
        <p class="beta-p">I learn fast and have a good family support structure at home. My partner of 7 years is always ready to help out with my personal development.</p>
        <p class="beta-p">With my tenatious drive, my wonderful partners support, and your training i'm sure i will be able to easily gain the skills required to become a successful rep of Mpd.</p>

        <h4 class="title-name">I'm, Ashleigh Wilson.</h2>
        <hr>
      </div>
    </div>
    <div class="col-md-7 screen">
      <img class="img-screenshot" src="https://media.licdn.com/mpr/mpr/p/5/005/08d/393/249f54f.jpg">                
    </div>
  </div>
        
  <div class="container containerStandard">
    <div class="row">
      <div class="col-md-12"><h2>Stuff i like about you Mpd</h2></div>
    </div>
    <div class="row">   
      <div class="col-md-4 columnItem"><h3><i class="fa fa-university"></i><BR>Established</h3>
        <p class="beta-p">Your history sounds great, it's awesome that you guys have been in business for over a decade. This means to me job security and peace of mind.</p>
      </div>
      <div class="col-md-4 columnItem"><h3><i class="fa fa-group"></i><BR>Diversity</h3>
        <p class="beta-p">My research on you showed that Mpd has clients in all sorts of industry. This sounds good to me as it means that working with you  should be interesting from day to day.</p>
      </div>      
      <div class="col-md-4 columnItem"><h3><i class="fa fa-lightbulb-o"></i><BR>Smart Business</h3>
        <p class="beta-p">Your international relationship with Appco group is a helper in my eyes. It's handy to have support to call upon when needed.</p>
      </div>
    </div>
                    
    <div class="row">   
      <div class="col-md-4 columnItem"><h3><i class="fa fa-graduation-cap"></i><BR>Training</h3>
        <p class="beta-p">Education is key to me. My online resources have been ok, but what i really need is to be apart of a pro - sales team and learn through practical field experience. I am super keen to get started as soon as i can.</p>
      </div>
      <div class="col-md-4 columnItem"><h3><i class="fa fa-gavel"></i><BR>Work Ethic</h3>
        <p class="beta-p">I think it's a really good thing you guys have included 'good work ethic' into your business values. Hey it maybe something to do with your success ? Being honest, as you should know by now certainly works for me.</p>
      </div>
      <div class="col-md-4 columnItem"><h3><i class="fa fa-money"></i><BR>Enterpeneurial</h3>
        <p class="beta-p">Currently running my own business is a scary prospect. I guess what i'm trying to say here is maybe with the help of Mpd that will change in the future. Even though at the moment i'm not that enterpeneurial it will sure be good for me to be around those that are that way !</p>
      </div>
    </div>          
  </div>
      
  <div class="container containerStandard platform">
    <div class="arrow-down"></div>
    <div class="row">
      <h2><strong><a><%= link_to "Hire Me !", contact_path %></a></strong> Mpd group lets..</h2>
    </div>
            
    <div class="row">
      <div class="col-sm-4 columnItem">
        <h3><i class="fa fa-5x fa-youtube-play"></i></h3>
        <h3>Get => Started</h3>
      </div>
      <div class="col-sm-4 columnItem">
        <h3><i class="fa fa-5x fa-line-chart"></i></h3>
        <h3>PromoteGoodBusiness</h3>
      </div>
      <div class="col-sm-4 columnItem">
        <h3><i class="fa fa-5x fa-trophy"></i></h3>
        <h3>Succeed ~ together !</h3>
      </div>
    </div>
  </div>
</div>
