<div id="primary-content">
	<div class="container-pages">
		<h1>Referees | references</h1>
		<hr class="featurette-divider">
		<div class="container-image-home">
			<div id="bounce-right">
				<img src="http://lonelybrand.com/blog/wp-content/uploads/2012/08/customer-reference.png" class="img-responsive" alt="Ashleigh Wilson referees">
			</div>
		</div>
		<hr class="featurette-divider">
		<div id="zoom-content">
			<p class="ref">Available on request, <a><%= link_to "click here", contact_path %></a>  to shoot me a message.</p>
		</div>
		<hr class="featurette-divider">
		<div id="lightspeed2">
			<h3 class="title-name sign">Ashleigh Wilson.</h3>
		</div>
	</div>
</div>