<div id="primary-content">
	<div class="container-pages">
		
		<div id="flip-element">
			<h1>Ashleigh Wilson | Skills</h1>
		</div>
		
		<div id="bounce-content">
			<div class="slow-content">
				<hr class="featurette-divider">

				<div class="row skills">
  				<div class="col-md-4 top">
  					<div class="container-images">
  						<img src="http://jumpstart-hr.com/wp-content/uploads/2013/09/effective-communication-480x300.jpg" class="img-responsive" alt="Responsive image">
  					</div>
  				</div>
			
  				<div class="col-md-8"><p class="soc1 col">Communication skills</p>
  					<p class="beta-p left">Able to communicate well with most people within most circumstances. Over the years i've traveled extensively through Australia and  meet many diverse cultures. From my experiences i have gained '<i>awesome communication </i>' skills.</p> 
						<p class="beta-p left">I also have a good mannerism and i'm very well spoken with an reasonable vocabulary.</p>
						<p class="beta-p left">I'm as i like to put it, <i> quite an experiance on the phone</i> and i'm told i sound pretty good too, and obviously i'm good at chatting with our elderly.</p>
					</div>
				</div>

				<div class="row skills">
  				<div class="container-images-rgt">
  					<span>
  						<img src="http://www.callcentrehelper.com/images/stories/2010/2013/01/missing-skills-5103.gif" class="img-responsive" alt="Responsive image">
  					</span>
  				</div>
  				<div class="col-md-8"><p class="soc1 col">Numeracy skills</p>
  					<span class="e-text">
  						<p class="beta-p left">In 2008 i was part-time employed with a popular cafe / coffie shop in Australia's Goldcoast, i gained practical retail experience including cash register skills.</p> 
							<p class="beta-p left">While caring for Miss Rowe i developed good budgeting skills and conducted ethical management of her petty-cash-account. This included a writen weekly budget projection, accruals, retain all transaction receipts for regular audit by Miss Rowes attorney.</p>
							<p class="beta-p left">Good over-all money handling skills.</p>
						</span>
  				</div>
				</div>

				<div class="row skills">
					<div class="col-md-4 top">
  					<div class="container-images">
  						<img src="https://tunxis.digication.com/files/M01f37ba327dcdf8b82a01de6a24f1afd.jpg" class="img-responsive" alt="Responsive image">
  					</div>
					</div>
  				<div class="col-md-8"><p class="soc1 col">Teamwork skills</p>
  					<p class="beta-p left">Ability to integrate into new team environments, with my easy going helpful nature theirs not much to dislike.</p>
						<p class="beta-p left">I love to learn new skills and pick-up things fast with usually very minimal instruction. I'm also always keen to help out the team where i can.</p>
						<p class="beta-p left">I would make a valuable asset for your business team.</p>
  				</div>
				</div>
		
				<div class="row skills top">
					<div class="container-images-rgt">
						<span>
							<img src="http://cdn.skilledup.com/wp-content/uploads/2014/10/Learn-Business-Administration-Online-2-Feature_1290x688_KL.jpg" class="img-responsive" alt="Responsive image">
						</span>
					</div>
					<div class="col-md-8 adm"><p class="soc1 col">Administration skills</p>
						<span class="e-text">
							<p class="beta-p left">Reasonable computer basics skills, abiliy to execute most tasks ( OSX / Windows ).</p>
   						<p class="beta-p left">Able to work supervised / un-supervised and get the job done.</p>
   						<p class="beta-p left">Good admin coordination and over-all management skills.</p>
   					</span>
   				</div>
				</div>
				<hr class="featurette-divider">
				<p class="beta-p">
					For all questions regarding my <a><%= link_to "Skills", contact_path %></a> shoot me a message. 
   			</p>
			</div>
		</div>
	</div>
</div>
