<div id="primary-content">
	<div class="container-pages">
		<h1>Ashleigh Wilson | skills</h1>

		<hr class="featurette-divider">

		<p>List all my skills here</p>

		<hr class="featurette-divider">
 		<div class="container-images">
			<%= image_tag("teams.jpg", :size => "100x100" ) %> 
		</div>
	</div>
</div>
