
<div class="col-md-8">
	<div class="container-pages">
		<h1>This is Ashleigh Wilsons skills page</h1>


		<hr class="featurette-divider">

		<p>List all my skills here</p>


		<hr class="featurette-divider">

	</div>
</div>

<div class="col-md-2">
	<div class="container-pages-side">
		<h3>hi im the sidebar</h3>

		<hr class="featurette-divider">

		<ul>
			<li>somthing here</li>
			<li>somthing here</li>
			<li>somthing here</li>
			<li>somthing here</li>
			<li>somthing here</li>
			<li>somthing here</li>
			<li>somthing here</li>
		</ul>
		<hr class="featurette-divider">
	</div>
</div>