<div id="primary-content">
	<div class="container-pages">
		<% flash.each do |key, value| %>
    	<div class="alert">
    		<div id="lightspeed">
      		<a href="/" data-dismiss="alert">back to my home page?</a>
      	</div>
      	<div id="hinge-content">
      		<%= value %>
      	</div>	
    	</div>
  	<% end %>
  	
		<hr class="featurette-divider">
			<div class="container-image-home">
				<div id="bounce-right">
					<img src="https://pbs.twimg.com/profile_images/572237802746548224/GaWI6vpY_400x400.jpeg" class="img-responsive" alt="Responsive image">
				</div>
			</div>
		<hr class="featurette-divider">
		<h3 class="title-name sign">Ashleigh Wilson.</h3>
		<hr class="featurette-divider">
		<p class="developer">This site has been created by Michael Devenport founder & CEO of WEBrip Developments</p>
		<a href="https://twitter.com/WEBrip" target="_blank">
   		<%= image_tag("twitter.png", alt: "twitter") %> 
	</div>
</div>