// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import 'bootstrap';

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
   box-sizing: border-box; /* IE */
}

a {
  color: rgba(255,153,255,0.8)

}

a:hover {
  color: rgba(250,255,189,0.9);
}

body {
  font-family: 'Francois One', sans-serif;
  color: white;
  /* Full Page Background Receipe */
  background:url(http://media.giphy.com/media/XXYkaKVk1Luda/giphy.gif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container-pages-home {
  text-align: center;
  max-width: 600px;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(63,63,63,0.5);
  padding: 30px;
  border-radius: 4px;
}

.home-goal {
  color: rgba(250,255,189,0.7);
  font-family: 'Open Sans Condensed', sans-serif;
}

.homegoal-text {
  margin-top: -9px;
}

.home-instruc {
  color: #0C0E1B;
  font-family: 'Open Sans Condensed', sans-serif;
}

.title-name {
  color: #FF99FF;
  font-size: 4.7rem;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 27px;
}

h4.title-name1 {
  color: #FF99FF;
  font-size: 1.7rem;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 0px;
}

.sign {
  font-size: 17.7px;
}


.container-pages {
  text-align: center;
  max-width: 725px;
  margin-top: 110px;
  margin-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(63,63,63,0.5);
  padding: 35px;
  border-radius: 4px;
}

.container-pages-side {
  text-align: center;
  margin-top: 110px;
  max-width: 140px;
  padding: 22px;
  background: rgba(255,255,255,0.7);
  color: #262626;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.container-image-home {
  background: rgba(255,153,255,0.9);
  border-radius: 2px;
  padding: 4px;
  display: inline-block;
}

.container-images {
  background: rgba(255,153,255,0.9);
  border-radius: 2px;
  padding: 4px;
  display: inline-block;
}

@media (min-width: 992px) {
  .container-images-rgt {
    background: rgba(255, 153, 255, 0.9);
    padding: 4px;
    border-radius: 2px;
    display: inline-block;
    float: right;
  }

  .img-responsive {
    height: 255px;
    width: 190px;
  }

  .img-responsive1 {
    height: 255px;
    width: 190px;
  }

  .img-responsive2 {
    height: 240px;
    width: 240px;
  }

  .adm {
    margin-top: 40px;
  }

  .pad {
    margin-top: 77px;
  }
}


@media (max-width: 991px) {
  .container-images-rgt {
    background: rgba(255, 153, 255, 0.9);
    padding: 4px;
    border-radius: 2px;
    display: inline-block;
  }

  .img-responsive {
    height: 185px;
    width: 247px;
  }

  .img-responsive1 {
    height: 300px;
    width: 247px;
  }

  .img-responsive2 {
    height: 220px;
    width: 247px;
  }

  .top1 {
    margin-top: 16px;
  }
}

.container-images-rgt {
  background: rgba(255, 153, 255, 0.9);
  padding: 4px;
  border-radius: 2px;
  display: inline-block;
  margin-left: 15px;
}

.e-text {
  text-align: left;
  vertical-align: middle;
}

.form-horizontal .form-group {
  margin-left: 4px;
  margin-right: 4px;
}

#contact_message {
  height: 169px;
}

.alert {
  margin: 30px;
  margin-right: 20px;
  font-size: 2.2rem
}

.beta-p {
  font-size: 1.5rem;
}

.developer {
  color: #0C0E1B;
  margin-top: 48px;
  font-family: 'Open Sans Condensed', sans-serif;
}


label {
  display: none;
}

.edu {
  font-size: 31px;
  color: #0C0E1B;
  font-family: 'Open Sans Condensed', sans-serif;
}

.animated {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  box-animation-duration: 3s;
}

.adi {
  font-size: 20px;
  color: rgba(250,255,189,0.7);
  font-family: 'Open Sans Condensed', sans-serif;
}

.sch {
  color: rgba(130,1,1,0.9);
  font-size: 18px;
}

.soc {
  padding-bottom: 30px;
  font-size: 26px;
  color: #0C0E1B;
  font-family: 'Open Sans Condensed', sans-serif;
}

.soc1 {
  padding-bottom: 10px;
  font-size: 26px;
  color: #0C0E1B;
  font-family: 'Open Sans Condensed', sans-serif;
}

.soc2 {
  padding-bottom: 12px;
}

.col {
  color: rgba(250,255,189,0.7);
}

.face {
  float: left;
}

.left {
  text-align: left;
}

.right {
  padding-right: 223px;
}

.pink {
  color: rgba(255,153,255,0.9)
}

.col2 {
  color: rgba(250,255,189,0.7);
}

.top {
  margin-top: 16px;
}

.bottom {
  margin-top: 110px;
}

.skills {
  margin-bottom: 60px;
}

.row {
  margin-left: -15px;
  margin-right: 2px;
}

.ref {
  font-size: 26px;
  color: rgba(250,255,189,0.7);
  font-family: 'Open Sans Condensed', sans-serif;
}

.hob1 {
  margin-top: 40px;
}

.hob2 {
  margin-top: 85px;
}

.hob3 {
  margin-top: 160px;
}

.animated.bounceInDown {
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
}

.animated.flip {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
}

.animated.zoomIn {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;  
}

#lightspeed2 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
}
