// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
   box-sizing: border-box; /* IE */
}

a {
  color: rgba(255,153,255,0.8)

}

a:hover {
  color: rgba(250,255,189,0.9);
}

body {
  font-family: 'Francois One', sans-serif;
  color: white;
   /* Full Page Background Receipe */
  background:url(http://wall4all.me/thumbs/general/-803426-480x320.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h4.title-name1 {
  color: #FF99FF;
  font-size: 1.7rem;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

label {
  display: none;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;    
}
 
 /* if you want to hide the arrow */
a.menu:after, .dropdown-toggle:after {
  content: none;
}

.dropdown-menu {
  background: rgba(32,32,32,0.7);
  li a {
  color: #FFFFFF;
  } 
  .divider {
    background-color: #B81D1D;
  }
}

.animated {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  box-animation-duration: 3s;
}

.animated.bounceInDown {
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
}

.animated.flip {
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
}

.animated.zoomIn {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;  
}

#lightspeed2 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
}

.container-pages-home {
  background:url(http://www.pegaweb.com/tutorials/web-page-backgrounds/4a.jpg);
  text-align: center;
  max-width: 600px;
  margin-top: 110px;
  margin-bottom: 130px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 4px;
}

.container-pages {
  text-align: center;
  max-width: 725px;
  margin-top: 110px;
  margin-bottom: 130px;
  margin-left: auto;
  margin-right: auto;
  background:url(http://www.pegaweb.com/tutorials/web-page-backgrounds/4a.jpg);
  padding: 35px;
  border-radius: 4px;
}

.container-share {
  text-align: center;
}

.container-image-home {
  background: rgba(255,153,255,0.9);
  border-radius: 2px;
  padding: 4px;
  display: inline-block;
}

.container-images {
  background: rgba(255,153,255,0.9);
  border-radius: 2px;
  padding: 4px;
  display: inline-block;
}

.container-images-rgt {
  background: rgba(255, 153, 255, 0.9);
  padding: 4px;
  border-radius: 2px;
  display: inline-block;
  margin-left: 15px;
}

.home-goal {
  color: rgba(250,255,189,0.7);
  font-family: 'Open Sans Condensed', sans-serif;
}

.homegoal-text {
  margin-top: -9px;
}

.home-instruc {
  color: #0C0E1B;
  font-family: 'Open Sans Condensed', sans-serif;
}

.title-name {
  color: #FF99FF;
  font-size: 4.7rem;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 27px;
}

.beta-p {
  font-size: 1.5rem;
}

.e-text {
  text-align: left;
  vertical-align: middle;
}

.edu {
  font-size: 31px;
  color: #0C0E1B;
  font-family: 'Open Sans Condensed', sans-serif;
}

.adi {
  font-size: 20px;
  color: rgba(250,255,189,0.7);
  font-family: 'Open Sans Condensed', sans-serif;
}

.sch {
  color: rgba(130,1,1,0.9);
  font-size: 18px;
}

.soc {
  padding-bottom: 30px;
  font-size: 26px;
  color: #0C0E1B;
  font-family: 'Open Sans Condensed', sans-serif;
}

.soc1 {
  padding-bottom: 10px;
  font-size: 26px;
  color: #0C0E1B;
  font-family: 'Open Sans Condensed', sans-serif;
}

.soc2 {
  padding-bottom: 12px;
}

.ref {
  font-size: 26px;
  color: rgba(250,255,189,0.7);
  font-family: 'Open Sans Condensed', sans-serif;
}

.sign {
  font-size: 17.7px;
}

.form-horizontal .form-group {
  margin-left: 4px;
  margin-right: 4px;
}

#contact_message {
  height: 169px;
}

.alert {
  margin: 30px;
  margin-right: 20px;
  font-size: 2.2rem
}

.developer {
  color: #0C0E1B;
  margin-top: 48px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.btn-info {
  padding: 0px 0px;
}

.btn-default {
  background: rgba(32,32,32,0.7);
  border-color: rgb(34,34,34);
  &:hover {
    background-color: rgb(34,34,34);
    border-color: rgba(32,32,32,0.7);
  }
}

.col {
  color: rgba(250,255,189,0.7);
}

.left {
  text-align: left;
}

.right {
  padding-right: 223px;
}

.pink {
  color: rgba(255,153,255,0.9)
}

.col2 {
  color: rgba(250,255,189,0.7);
}

.top {
  margin-top: 16px;
}

.bottom {
  margin-top: 110px;
}

.skills {
  margin-bottom: 60px;
}

.row {
  margin-left: -15px;
  margin-right: 2px;
}

.hob1 {
  margin-top: 40px;
}

.hob2 {
  margin-top: 85px;
}

.hob3 {
  margin-top: 160px;
}

.footer {
  background: rgba(32,32,32,0.7);
}

@media (min-width: 992px) {
  .container-images-rgt {
    background: rgba(255, 153, 255, 0.9);
    padding: 4px;
    border-radius: 2px;
    display: inline-block;
    float: right;
  }

  .img-responsive {
    height: 255px;
    width: 190px;
  }

  .img-responsive1 {
    height: 255px;
    width: 190px;
  }

  .img-responsive2 {
    height: 240px;
    width: 240px;
  }

  .adm {
    margin-top: 40px;
  }

  .pad {
    margin-top: 77px;
  }
}


@media (max-width: 991px) {
  .container-images-rgt {
    background: rgba(255, 153, 255, 0.9);
    padding: 4px;
    border-radius: 2px;
    display: inline-block;
  }

  .img-responsive {
    height: 185px;
    width: 247px;
  }

  .img-responsive1 {
    height: 300px;
    width: 247px;
  }

  .img-responsive2 {
    height: 220px;
    width: 247px;
  }

  .top1 {
    margin-top: 16px;
  }
}

/* mpd */

.mpd {
  background: rgb(78,81,85);
}

.jumbotron {
  height: 70%;
  min-height: 400px;
  background-image:url(ashmpd.jpg);
  background-size: cover;
  background-position: center top;
  color: white;
  text-align: center;
  padding-bottom: 25%;
  padding-top: 25%;
}

.jumbotron a, .jumbotron a:hover, .jumbotron a:active, .jumbotron a:visited {
  color: #FFFFFF;
}

.jumbotron h1 {
  font-size: 70px;
  color: rgba(255,153,255,0.8);
}


.containerStandard {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 40px;
}

.columnItem {
  padding-bottom: 40px;
}


.quote {
  color: #323232;
  font-style: italic;
  padding-top: 30px;
  padding-bottom: 30px;
}

.screenshot {
  color: white;
  padding: 0px;
  width: 100%;
  background-color: #365ba2;    
}

.screen {
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-align: right;
  overflow:hidden;
}

.screenBlurb {
  padding-top: 12px;
  padding-bottom: 20px;
  padding-left: 50px;
  text-align: left;
}

.screenBlurb p {
  padding-bottom: 10px;
  padding-top: 10px;
}


.platform {
  color: white;
  padding-top:0px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  background-color: #323232;   
}


.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent; 
  border-top: 30px solid rgb(78,81,85);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
