// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  color: white;
  /* Full Page Background Receipe */
  background:url(http://media.giphy.com/media/XXYkaKVk1Luda/giphy.gif);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container-pages-home {
  text-align: center;
  max-width: 600px;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(63,63,63,0.5);
  padding: 30px;
  border-radius: 2px;
}


.container-pages {
  text-align: center;
  max-width: 100%;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(63,63,63,0.5);
  padding: 30px;
  border-radius: 2px;
}

/* Sticky footer styles
-------------------------------------------------- */





