<div class="navbar-wrapper">
  <div class="container">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-bottom">
    	<div class="container-share">
	      <a><span href="#" class="glyphicon glyphicon-share" aria-hidden="true"></span></a>
	      <button type="button" class="btn btn-default" aria-label="Left Align" 
	              data-toggle="tooltip" data-placement="top" title="Thanks for sharing">
	              <%= render_shareable :buttons=> [ 'twitter','linkedin','google_plus' ] %>
	      </button>
      </div>
  	</div>
	</div>
</div>
